package.json
package-lock.json
README.adoc
.nvmrc
.travis.yml
.eslintrc.json
.whitesource
whitesource.config
babel.config.json
jest.config.json
doc/**/*
**/*.scss
**/*.png
**/*.html
public/locales/**/*.json
public/config/**/*.json
