/*
 * liz - Installation assistant for Linux on IBM Z
 *
 * (C) Copyright IBM Corp. 2023
 */

@use "@carbon/react" with (
  $font-path: "@ibm/plex",
  $use-flexbox-grid: true
);

.installation-parameters__grid {
  &.cds--grid {
    padding: 0;
  }
}

.installation-parameters_installation-address-input {
  padding: 0 0 react.$spacing-07 0;
}

.installation-address_ip-version-missmatch-banner {
  margin: 0 0 react.$spacing-07 0;
}

.installation-parameters_column-left {
  .cds--form-item,
  .cds--toggle {
    padding: 0 0 react.$spacing-07 0;
  }
}

.installation-parameters_column-right {
  .cds--form-item,
  .cds--toggle {
    padding: 0 0 react.$spacing-07 0;
  }
}
