/*
 * liz - Installation assistant for Linux on IBM Z
 *
 * (C) Copyright IBM Corp. 2023
 */
 
@use "@carbon/react" with (
  $font-path: "@ibm/plex"
);
@use "@carbon/type";
@use "@carbon/layout";
@use "@carbon/colors";
@use "@carbon/themes";

.installation-parameters_installation-address-input {
  padding: 0 0 layout.$spacing-07 0;
}

.installation-parameters_column-left {
  .cds--form-item,
  .cds--toggle {
    padding: 0 0 layout.$spacing-07 0;
  }
}

.installation-parameters_column-right {
  .cds--form-item,
  .cds--toggle {
    padding: 0 0 layout.$spacing-07 0;
  }
}