/*
 * liz - Installation assistant for Linux on IBM Z
 *
 * (C) Copyright IBM Corp. 2023
 */

@use "@carbon/react" with (
  $font-path: "@ibm/plex",
  $use-flexbox-grid: true
);

.cds--form__helper-text {
  p {
    @include react.type-style("label-01");
  }
}

.installation-parameters__layer {
  padding: 0 react.$spacing-08 0 react.$spacing-08;

  .installation-parameters__grid {
    &.cds--grid {
      padding: 0;
    }
  }
}

.installation-parameters_installation-address-input {
  padding: 0 0 react.$spacing-07 0;
}

.installation-address_ip-version-missmatch-banner {
  margin: 0 0 react.$spacing-07 0;
  min-width: 100% !important;
}

.installation-parameters_column-left {
  .cds--form-item,
  .cds--toggle {
    padding: 0 0 react.$spacing-07 0;
  }
}

.installation-parameters_column-right {
  .cds--form-item,
  .cds--toggle {
    padding: 0 0 react.$spacing-07 0;
  }
}
