/*
 * liz - Installation assistant for Linux on IBM Z
 *
 * (C) Copyright IBM Corp. 2023
 */

@use "@carbon/react" with (
  $font-path: "@ibm/plex",
  $use-flexbox-grid: true
);

.network-address__grid {
  &.cds--grid {
    padding: 0;
  }
}

.network-address_hostip-range {
  /* empty block */
}
