/*
 * liz - Installation assistant for Linux on IBM Z
 *
 * (C) Copyright IBM Corp. 2023
 */

@use "@carbon/react" with (
  $font-path: "@ibm/plex",
  $use-flexbox-grid: true
);

.cds--form__helper-text {
  p {
    @include react.type-style("label-01");
  }
}

.network-address__layer {
  padding: 0 react.$spacing-08 0 react.$spacing-08;

  .network-address__grid {
    &.cds--grid {
      padding: 0;
    }
  }
}
