@use "@carbon/react" with (
  $font-path: "@ibm/plex"
);
@use "@carbon/type";
@use "@carbon/layout";
@use "@carbon/colors";
@use "@carbon/themes";

.network-address_hostip-range {
  /* empty block */
}

.network-address_column-left {
  .cds--form-item {
    padding: 0 0 layout.$spacing-07 0;
  }

  .network-address_ip-version-group {
    width: 50%;
  }
}

.network-address_column-right {
  .cds--form-item {
    padding: 0 0 layout.$spacing-07 0;
  }
}

