/*
 * liz - Installation assistant for Linux on IBM Z
 *
 * (C) Copyright IBM Corp. 2023
 */

@use "@carbon/react" with (
  $font-path: "@ibm/plex"
);

.installer-header__sidenav-component {
  .installer-flow__heading {
    @include react.type-style("heading-05");

    margin: react.$spacing-05 0 react.$spacing-05 0;
  }

  .cds--progress-label {
    min-width: 100%;
  }
}
