/*
 * liz - Installation assistant for Linux on IBM Z
 *
 * (C) Copyright IBM Corp. 2023
 */

@use "@carbon/react" with (
  $font-path: "@ibm/plex"
);
@use "@carbon/type";
@use "@carbon/layout";
@use "@carbon/colors";
@use "@carbon/themes";

.input-file-selection__heading {
  @include type.type-style("heading-05");

  margin: layout.$spacing-05 0 layout.$spacing-05 0;
}

.input-file-selection__subheading {
  @include type.type-style("heading-01");
  @include type.font-weight("semibold");

  padding: 0 0 layout.$spacing-07 0;
}

.input-file-selection__label {
  @include type.type-style("heading-01");
}

.input-file-selection__contentHeader {
  background: themes.$background;
  padding: layout.$spacing-05 0 layout.$spacing-05 0;
}

.input-file-selection__contentRow {
  padding-bottom: layout.$spacing-05;
  background: themes.$background;
}

.input-file-selection__contentRowIntro {
  @include type.type-style("body-compact-01");

  padding: 0 0 layout.$spacing-05 0;
}

.input-file-selection__contentRowDropdowns {
  .bx--dropdown__wrapper {
    padding: 0 0 layout.$spacing-05 0;
  }
}

.input-file-selection__grid {
  padding-left: 0;
  padding-right: layout.$spacing-01;

  .cds--dropdown__wrapper,
  .cds--form-item {
    padding: 0 0 layout.$spacing-07 0;
  }
}
