/*
 * liz - Installation assistant for Linux on IBM Z
 *
 * (C) Copyright IBM Corp. 2023
 */

@use "@carbon/react" with (
  $font-path: "@ibm/plex",
  $use-flexbox-grid: true
);

.input-file-selection__heading {
  @include react.type-style("heading-05");

  margin: react.$spacing-05 0 react.$spacing-05 0;
}

.input-file-selection__subheading {
  @include react.type-style("heading-01");
  @include react.font-weight("semibold");

  padding: 0 0 react.$spacing-07 0;
}

.input-file-selection__label {
  @include react.type-style("heading-01");
}

.input-file-selection__contentHeader {
  background: react.$background;
  padding: react.$spacing-05 0 react.$spacing-05 0;
}

.input-file-selection__contentRow {
  padding-bottom: react.$spacing-05;
  background: react.$background;
}

.input-file-selection__contentRowIntro {
  @include react.type-style("body-compact-01");

  padding: 0 0 react.$spacing-05 0;
}

.input-file-selection__contentRowDropdowns {
  .bx--dropdown__wrapper {
    padding: 0 0 react.$spacing-05 0;
  }
}

.input-file-selection__layer {
  padding: 0 react.$spacing-08 0 react.$spacing-08;

  .input-file-selection__grid {
    &.cds--grid {
      padding: 0;
    }

    .cds--dropdown__wrapper,
    .cds--form-item {
      padding: 0 0 react.$spacing-07 0;
    }
  }
}

.input-file-selection_parmfile-purge-banner {
  margin: 0 0 react.$spacing-07 0;
  max-width: 100% !important;
}
