/*
 * liz - Installation assistant for Linux on IBM Z
 *
 * (C) Copyright IBM Corp. 2023
 */

@use "@carbon/react" with (
  $font-path: "@ibm/plex"
);

.installer-step-tile__outline {
  border: react.$spacing-01 solid react.$background-brand;
  margin: react.$spacing-05 react.$spacing-05 react.$spacing-05 0 !important;
  padding: react.$spacing-05;
}

.installer-step-tile__footer {
  /* empty */
}

.installer-step-tile__footer-button {
  float: right;
}
