/*
 * liz - Installation assistant for Linux on IBM Z
 *
 * (C) Copyright IBM Corp. 2023
 */

@use "@carbon/react" with (
  $font-path: "@ibm/plex"
);

.installer-header__panel-component {
  background: react.$background;

  &.cds--header-panel--expanded {
    width: calc(3 * react.$spacing-13);
  }
}

.installer-header__sidenav-component {
  padding: 0 react.$spacing-05 0 react.$spacing-05;

  &.cds--side-nav--expanded {
    width: calc(react.$spacing-10 * 5);
  }

  &.cds--side-nav {
    max-width: calc(react.$spacing-10 * 5);
  }

  ul {
    padding-top: 0;
  }
}

.installer-header__panel-component-header {
  padding: 0 react.$spacing-05 0 react.$spacing-05;
}

