@use "@carbon/react" with (
  $font-path: "@ibm/plex"
);
@use "@carbon/type";
@use "@carbon/layout";
@use "@carbon/colors";
@use "@carbon/themes";

.table-container {
  display: block;
  width: 100%;
}

.flex-table {
  display: grid;
  grid-template-columns: repeat(auto-fill, 25%);
  grid-template-rows: 100% auto;
  transition: 0.5s;

  &.row {
    @include type.type-style("body-01");
  }
}

.flex-row {
  display: block;
  width: 100%;
  padding: layout.$spacing-05 0 layout.$spacing-05 layout.$spacing-05;
  background-color: themes.$background;

  &:first-of-type {
    @include type.type-style("heading-01");

    background-color: themes.$background-selected;
  }
}

.isoIcon {
  vertical-align: middle;

  &.label {
    padding-left: layout.$spacing-02;
  }
}

.information_heading {
  @include type.type-style("heading-01");
  @include type.font-weight("semibold");

  padding: layout.$spacing-07 0 0 0;
}

.information_content {
  @include type.type-style("body-compact-01");

  padding: 0 0 layout.$spacing-07 0;
}
