/*
 * liz - Installation assistant for Linux on IBM Z
 *
 * (C) Copyright IBM Corp. 2023
 */

@use "@carbon/react" with (
  $font-path: "@ibm/plex",
  $use-flexbox-grid: true
);

.information__layer {
  padding: 0 react.$spacing-08 0 react.$spacing-08;
}

.table-container {
  display: block;
  width: 75%;
}

.flex-table {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 100% auto;
  transition: 0.5s;

  &.row {
    @include react.type-style("body-01");
  }
}

.flex-row {
  display: block;
  width: 100%;
  padding: react.$spacing-05 react.$spacing-05 react.$spacing-05
    react.$spacing-05;
  background-color: react.$background;

  &:first-of-type {
    @include react.type-style("heading-01");

    background-color: react.$background-selected;
  }
}

.isoIcon {
  vertical-align: middle;

  &.label {
    padding-left: react.$spacing-02;
  }
}

.information__parmfile-purge-banner {
  margin: react.$spacing-07 0 react.$spacing-06 0;
  max-width: 100% !important;
}

.information_heading_alt {
  @include react.type-style("heading-01");
  @include react.font-weight("semibold");

  padding: react.$spacing-07 0 react.$spacing-05 0;
}

.information_heading {
  @include react.type-style("heading-01");
  @include react.font-weight("semibold");

  padding: 0 0 react.$spacing-07 0;
}

.information_content {
  @include react.type-style("body-compact-01");

  padding: 0 0 react.$spacing-07 0;
}
