@use "@carbon/react" with (
  $font-path: "@ibm/plex"
);
@use "@carbon/type";
@use "@carbon/layout";
@use "@carbon/colors";
@use "@carbon/themes";

$table-header: #1976d2;
$table-border: #d9d9d9;

.table-container {
  display: block;
  width: 100%;
}

.flex-table {
  display: grid;
  grid-template-columns: repeat(auto-fill, 25%);
  grid-template-rows: 100% auto;
  transition: 0.5s;

  &:first-of-type {
    @include type.type-style("heading-01");
  }

  &.row {
    @include type.type-style("body-01");
  }
}

.flex-row {
  display: block;
  width: 100%;
  padding: 0 0 0 layout.$spacing-05;
}

.isoIcon {
  vertical-align: middle;

  &.label {
    padding-left: layout.$spacing-02;
  }
}
