/*
 * liz - Installation assistant for Linux on IBM Z
 *
 * (C) Copyright IBM Corp. 2023
 */
@use "@carbon/react" with (
  $font-path: "@ibm/plex"
);

.about-dialog__about-menu {
  z-index: 10000;
  position: absolute;
  top: react.$spacing-09;
  border: 0;
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
  overflow: visible;
  max-height: calc(4 * react.$spacing-13);
  width: calc(3 * react.$spacing-11);
  right: 0;
  min-width: calc(6 * react.$spacing-10);
  background: react.$background-inverse;
  color: react.$background;

  .about-dialog__about__title-section {
    @include react.type-style("body-compact-01");

    padding: react.$spacing-05;

    .about-dialog__about__linux-icon {
      display: inline-block;
      vertical-align: middle;

      > div {
        > svg {
          border-radius: 50%;
          background: react.$background;
          fill: react.$background-inverse;
        }
      }
    }

    .about-dialog__about__info-section {
      margin-left: 1rem;
      margin-right: 0;
      align-self: center;
      min-width: 0;
      height: 100%;
      display: inline-block;
      vertical-align: middle;

      .about-dialog__about__info-section__icon {
        position: absolute;
        cursor: pointer;
        right: 0;
        top: 0;
        padding: react.$spacing-03;

        &:hover {
          background: react.$background-inverse-hover;
        }

        > svg {
          vertical-align: middle;
        }
      }

      :first-of-type {
        @include react.type-style("heading-03");
        @include react.font-weight("semibold");
      }

      :not(:first-of-type) {
        @include react.type-style("heading-01");
      }
    }
  }

  .about-dialog__about-build-info {
    @include react.type-style("helper-text-02");

    padding: react.$spacing-05;

    .about-dialog__about-build-info__commit-hash,
    .about-dialog__about-build-info__date {
      padding-bottom: react.$spacing-02;

      code {
        @include react.type-style("code-01"); 
      }

      :first-of-type {
        margin-right: react.$spacing-03;
      }

      :last-of-type {
        vertical-align: bottom;
        cursor: pointer;

        svg {
          padding: react.$spacing-01;
        }

        &:hover {
          svg {
            background: react.$background-inverse-hover;
          }
        }
      }
    }
  }
}

.about-dialog__about-report-button-container {
  border-top: react.$spacing-01 solid react.$background;
  border-bottom: react.$spacing-01 solid react.$background;
}

.about-dialog__about-prune-button-container,
.about-dialog__about-report-button-container {
  background: react.$background-inverse;

  > a {
    @include react.type-style("body-compact-01");

    padding: react.$spacing-05;
    line-height: initial;
    transition: background-color 250ms;
    display: block;
    color: react.$background;
    text-decoration: none;
  }
}

.about-dialog__about-prune-button-container:focus-within,
.about-dialog__about-prune-button-container:hover {
  background: react.$red-60;
}

.about-dialog__about-report-button-container:focus-within,
.about-dialog__about-report-button-container:hover {
  background: react.$background-inverse-hover;
}

.about-dialog__about-prune-button-container:focus-within a,
.about-dialog__about-prune-button-container:hover a,
.about-dialog__about-report-button-container:focus-within a,
.about-dialog__about-report-button-container:hover a {
  color: react.$background;
}
