/*
 * liz - Installation assistant for Linux on IBM Z
 *
 * (C) Copyright IBM Corp. 2023
 */

@use "@carbon/react" with (
  $font-path: "@ibm/plex",
  $use-flexbox-grid: true
);

.misc-parameters_grid {
  &.cds--grid {
    padding: 0;
  }
}

.misc-parameters_textarea-container {
  position: relative;
  width: 100%;
}

.misc-parameters_copied-label {
  @include react.type-style("label-01");

  margin: react.$spacing-03 0 0 0;
  display: inline-block;
}
