/*
 * liz - Installation assistant for Linux on IBM Z
 *
 * (C) Copyright IBM Corp. 2023
 */

@use "@carbon/react" with (
  $font-path: "@ibm/plex",
  $use-flexbox-grid: true
);
@use "@carbon/type";
@use "@carbon/layout";
@use "@carbon/colors";
@use "@carbon/themes";

.misc-parameters_grid {
  &.cds--grid {
    padding: 0;
  }
}

.misc-parameters_info-icon {
  vertical-align: text-top;
}

.misc-parameters_textarea textarea {
  @include type.type-style("code-02");  
}


