/*
 * liz - Installation assistant for Linux on IBM Z
 *
 * (C) Copyright IBM Corp. 2023
 */

 @use "@carbon/react" with (
    $font-path: "@ibm/plex"
);
@use "@carbon/type";
@use "@carbon/layout";
@use "@carbon/colors";
@use "@carbon/themes";

.help-content__grid {
    &.cds--css-grid {
        padding: 0 layout.$spacing-05 0 layout.$spacing-05;
    }

    
}

.help-content__panel-component-header__title {
    @include type.type-style("heading-01");
    @include type.font-weight("semibold");
  
    float: left;
    padding: layout.$spacing-03 0 layout.$spacing-07 0;
}
  
.help-content__panel-component-header__button {
    float: right;
    right: 0;
}

.help-content__grid-header-column__right > span {
    float: right;
    right: 0;
}

.help-content__dummy-content {
    @include type.type-style("body-compact-01");

    padding: layout.$spacing-07 0 0 0;
}

