/*
 * liz - Installation assistant for Linux on IBM Z
 *
 * (C) Copyright IBM Corp. 2023
 */

 @use "@carbon/react" with (
    $font-path: "@ibm/plex"
);

.help-content__panel-component-header {
    padding: 0 react.$spacing-05 0 react.$spacing-05;

    .help-content__panel-component-header__title {
        @include react.type-style("heading-01");
        @include react.font-weight("semibold");
      
        float: left;
        padding: react.$spacing-03 0 react.$spacing-07 0;
    }
      
    span:first-of-type {
        float: right;
        right: 0;
    }
}

.help-content__grid {
    &.cds--grid {
        padding: 0 react.$spacing-05 0 react.$spacing-05;
    }

    .help-content__grid__row {
        width: 100%;
    }
    
    .help-content__grid__column {
        width: 100%;
    }
}

.help-content__dummy-content {
    @include react.type-style("body-compact-01");

    padding: react.$spacing-07 0 0 0;
}

