/*
 * liz - Installation assistant for Linux on IBM Z
 *
 * (C) Copyright IBM Corp. 2023
 */

@use "@carbon/react" with (
  $font-path: "@ibm/plex"
);

.cds--form__helper-text {
  p {
    @include react.type-style("label-01");
  }
}

.param-file-text-area_textarea {
  > div > textarea {
    @include react.type-style("code-02");

    padding: react.$spacing-04 react.$spacing-10 react.$spacing-04
      react.$spacing-04;
  }

  &.param-file-text-area_textarea__padding {
    padding: 0 0 react.$spacing-09 0;
  }

  &.param-file-text-area_textarea__modified > div > textarea {
    border: react.$spacing-01 solid react.$red-60;
  }

  .cds--form__helper-text {
    margin: react.$spacing-02 0 react.$spacing-04 0;
  }
}

.param-file-text-area_textarea-button-bar {
  position: absolute;
  top: react.$spacing-07;
  right: react.$spacing-03;
  z-index: 10000;

  .param-file-text-area_textarea-button-bar__button {
    cursor: pointer;
    padding: react.$spacing-03;
  }
}
