/*
 * liz - Installation assistant for Linux on IBM Z
 *
 * (C) Copyright IBM Corp. 2023
 */

@use "@carbon/react" with (
  $font-path: "@ibm/plex",
  $use-flexbox-grid: true
);

.next-steps_grid {
  &.cds--grid {
    padding: 0;
  }
}

.next-steps_heading {
  @include react.type-style("heading-01");
  @include react.font-weight("semibold");

  padding: 0 0 react.$spacing-07 0;
}

.next-steps_para_top {
  @include react.type-style("body-01");

  padding: react.$spacing-05 0 0 0;
}

.next-steps_para_bottom {
  @include react.type-style("body-01");

  padding: 0 0 react.$spacing-05 0;
}

.next-steps_para {
  @include react.type-style("body-01");

  padding: react.$spacing-05 0 react.$spacing-05 0;
}

.next-steps__formatted-code {
  @include react.type-style("code-02");
}

.next-steps_missing-remote-access-banner {
  margin: react.$spacing-05 0 0 0;
}
