@use "@carbon/react";
@use "@carbon/type";
@use "@carbon/layout";
@use "@carbon/styles";
@use "@carbon/colors";
@use "@carbon/themes";

@import "./overrides";

.landing-page__illo {
  max-width: 100%;
}

.landing-page__heading {
  @include type.type-style("heading-05");

  margin: layout.$spacing-05 0 layout.$spacing-05 0;
}

.landing-page__r2 {
  margin-top: rem(-40px);
}

.landing-page__subheading {
  @include type.type-style("heading-03");
  @include type.font-weight("semibold");
}

.landing-page__label {
  @include type.type-style("heading-01");
}

.landing-page__full-height {
  height: 100%;
}

.landing-page__installer-steps {
  background: themes.$background;
  border-right: themes.$layer-01 1px solid;
}

.landing-page__grid {
  height: 100%;
  background: themes.$layer-01;
  padding-left: layout.$spacing-05;
  padding-right: layout.$spacing-07;
  margin-left: 0;
  max-width: 100%;
}

.landing-page__grey-column-background {
  background: themes.$layer-01;
}
