/*
 * liz - Installation assistant for Linux on IBM Z
 *
 * (C) Copyright IBM Corp. 2023
 */

@use "@carbon/react" with (
  $font-path: "@ibm/plex"
);
@use "@carbon/type";
@use "@carbon/layout";
@use "@carbon/styles";
@use "@carbon/colors";
@use "@carbon/themes";

@import "./overrides";

.landing-page__illo {
  max-width: 100%;
}

.landing-page__heading {
  @include type.type-style("heading-05");

  margin: layout.$spacing-05 0 layout.$spacing-05 0;
}

.landing-page__r2 {
  margin-top: rem(-40px);
}

.landing-page__subheading {
  @include type.type-style("heading-03");
  @include type.font-weight("semibold");
}

.landing-page__label {
  @include type.type-style("heading-01");
}

.landing-page__full-height {
  height: 100%;
}

.landing-page__installer-steps {
  background: themes.$background;
  border-right: themes.$layer-01 1px solid;
}

.landing-page__grid {
  height: 100%;
  background: themes.$layer-01;
  padding: layout.$spacing-06 0 0 layout.$spacing-05;
  margin-left: 0;
  max-width: 100% !important;
  width: 100%;
}

.landing-page__grey-column-background {
  background: themes.$layer-01;
  margin-right: 0;
}

.landing-page__notification {
  z-index: 10000;
  position: absolute;
  top: layout.$spacing-09;
  right: 0;
  border: 0;

  &.cds--actionable-notification {
    position: absolute;
    float: right;
  }
}

.landing-page__about-menu {
  z-index: 10000;
  position: absolute;
  top: layout.$spacing-09;
  border: 0;
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
  overflow: visible;
  max-height: calc(4 * layout.$spacing-13);
  width: calc(3 * layout.$spacing-11);
  right: 0;
  min-width: calc(6 * layout.$spacing-10);
  background: themes.$background-inverse;
  color: themes.$background;

  .landing-page__about__title-section {
    @include type.type-style("body-compact-01");

    padding: layout.$spacing-05;
    
    .landing-page__about__linux-icon {
      display: inline-block;
      vertical-align: middle;

      >div {
        >svg {
          border-radius: 50%;
          background: themes.$background;
          fill: themes.$background-inverse;
        }
      }   
    }

    .landing-page__about__info-section {
      margin-left: 1rem;
      margin-right: 0;
      align-self: center;
      min-width: 0;
      height: 100%;
      display: inline-block;
      vertical-align: middle;

      .landing-page__about__info-section__icon {
        position: absolute;
        cursor: pointer;
        right: 0;
        top: 0;
        padding: layout.$spacing-03;

        &:hover {
            background: themes.$background-inverse-hover;
        }
      }

      :first-of-type {
        @include type.type-style("heading-03");
        @include type.font-weight("semibold");
      }

      :not(:first-of-type) {
        @include type.type-style("heading-01");
      }
    }
  }

  .landing-page__about-build-info {
    @include type.type-style("helper-text-02");
  
    padding: layout.$spacing-05;
  
    .landing-page__about-build-info__commit-hash,
    .landing-page__about-build-info__date {
      padding-bottom: layout.$spacing-02;
  
      :first-of-type {
        margin-right: layout.$spacing-03;
      }
  
      :last-of-type {
        vertical-align: bottom;
        cursor: pointer;
  
        svg {
          padding: layout.$spacing-01;
        }
  
        &:hover {
          svg {
            background: themes.$background-inverse-hover;
          }
        }
      }
    }
  }  
}

.landing-page__about-prune-button-container {
  background: themes.$background-inverse;

  >a {
    @include type.type-style("body-compact-01");

    padding: layout.$spacing-05;
    line-height: initial;
    transition: background-color 250ms;
    display: block;
    color: themes.$background;
    text-decoration: none;
  }
}

.landing-page__about-prune-button-container:focus-within,
.landing-page__about-prune-button-container:hover {
  background: colors.$red-60;
}

.landing-page__about-prune-button-container:focus-within a,
.landing-page__about-prune-button-container:hover a {
  color: themes.$background;
}

.landing-page__legal-banner {
  float: right;

  &.cds--inline-notification {
    max-width: 100%;
  }
}
