/*
 * liz - Installation assistant for Linux on IBM Z
 *
 * (C) Copyright IBM Corp. 2023
 */

@use "@carbon/react" with (
  $font-path: "@ibm/plex"
);

@use "@carbon/ibm-products/scss";

@import "./overrides";

.landing-page__illo {
  max-width: 100%;
}

.landing-page__heading {
  @include react.type-style("heading-05");

  margin: react.$spacing-05 0 react.$spacing-05 0;
}

.landing-page__subheading {
  @include react.type-style("heading-03");
  @include react.font-weight("semibold");
}

.landing-page__label {
  @include react.type-style("heading-01");
}

.landing-page__full-height {
  height: 100%;
}

.landing-page__installer-steps {
  background: react.$background;
  border-right: react.$layer-01 1px solid;
}

.landing-page__grid {
  height: 100%;
  background: react.$layer-01;
  padding: react.$spacing-06 react.$spacing-06 0 react.$spacing-06;
  margin-left: 0;
  max-width: 100% !important;
  width: 100%;
}

.landing-page__grey-column-background {
  background: react.$layer-01;
  margin-right: 0;
}

.landing-page__express-card {
  background: react.$background;
  margin: 0 react.$spacing-13 react.$spacing-06 react.$spacing-13;
}

.landing-page__page-header {
  .cds--grid {
    margin-inline: inherit;
  }
}

.landing-page__legal-banner {
  &.cds--inline-notification {
    max-width: 100%;
  }
}
