@use "@carbon/colors";
@use "@carbon/layout";

@mixin landing-page-background() {
  background-color: colors.$layer-01;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: -layout.$spacing-06;
    top: 0;
    right: -layout.$spacing-06;
    bottom: 0;
    background: colors.$layer-01;
    z-index: -1;
  }
}
