/*
 * liz - Installation assistant for Linux on IBM Z
 *
 * (C) Copyright IBM Corp. 2024
 */

@use "@carbon/react" with (
  $font-path: "@ibm/plex"
);

.next-steps_copy-button_copied {
  margin-left: react.$spacing-03;
  vertical-align: middle;

  svg {
    padding: react.$spacing-01;
    fill: react.$support-success;
  }
}

.next-steps_copy-button {
  margin-left: react.$spacing-03;
  vertical-align: middle;
  cursor: pointer;

  svg {
    padding: react.$spacing-01;
  }

  &:hover {
    svg {
      background: react.$background-hover;
    }
  }
}

.next-steps__formatted-code {
  @include react.type-style("code-01");

  border-radius: react.$spacing-04;
  background: react.$layer-01;
  padding: react.$spacing-02 react.$spacing-03 react.$spacing-02
    react.$spacing-03;
}

.next-steps_para_bottom {
  padding-bottom: react.$spacing-06;
}

.next-steps_para {
  padding: react.$spacing-06 0 react.$spacing-06 0;
}

.next-steps__accordion {
  padding: react.$spacing-06;
}
