/*
 * liz - Installation assistant for Linux on IBM Z
 *
 * (C) Copyright IBM Corp. 2023
 */

@use "@carbon/react" with (
  $font-path: "@ibm/plex"
);
@use "@carbon/type";
@use "@carbon/layout";
@use "@carbon/colors";
@use "@carbon/themes";

.network-device_column-left {
  .cds--dropdown__wrapper,
  .cds--form-item {
    padding: 0 0 layout.$spacing-07 0;
  }

  .network-device_device-type-dropdown {
    width: 50%;
  }

  .device-settings_grid-column-left {
    .cds--toggle {
      padding: 0 0 layout.$spacing-07 0;
    }
  }
}

.network-device_column-right {
  .cds--form-item {
    padding: 0 0 layout.$spacing-07 0;
  }
}

