/*
 * liz - Installation assistant for Linux on IBM Z
 *
 * (C) Copyright IBM Corp. 2023
 */
 @use "@carbon/react" with (
  $font-path: "@ibm/plex"
);
@use "@carbon/layout";

.app__full-height {
  height: 100%;

  &.cds--content {
    padding: calc(layout.$spacing-09 - layout.$spacing-01) 0 0 calc(layout.$spacing-10 * 5);
  }
}
