/*
 * liz - Installation assistant for Linux on IBM Z
 *
 * (C) Copyright IBM Corp. 2023
 */

@use "@carbon/react" with (
  $font-path: "@ibm/plex"
);

@use "@carbon/ibm-products/css/index";

:root[data-carbon-theme="g10"] {
  @include react.theme(react.$white);
}

:root[data-carbon-theme="g100"] {
  @include react.theme(react.$g100);
}

body,
html,
#root {
  height: 100%;
  margin: 0;
}
