/*
 * liz - Installation assistant for Linux on IBM Z
 *
 * (C) Copyright IBM Corp. 2023
 */

@use "@carbon/react" with (
  $font-path: "@ibm/plex"
);

@use "@carbon/ibm-products/css/index";

body,
html,
#root {
  height: 100%;
  margin: 0;
}
