/*
 * liz - Installation assistant for Linux on IBM Z
 *
 * (C) Copyright IBM Corp. 2023
 */

@use "@carbon/react" with (
  $font-path: "@ibm/plex"
);
@use "@carbon/type";
@use "@carbon/layout";
@use "@carbon/colors";
@use "@carbon/themes";

.download-param-file_textarea {
  > div > textarea {
    @include type.type-style("code-02");
  }

  &.download-param-file_textarea__padding {
    padding: 0 0 layout.$spacing-09 0;
  }
}

.download-param-file_copied-label {
  @include type.type-style("label-01");

  margin: layout.$spacing-03 0 0 0;
  display: inline-block;
}

.download-param-file_buttons {
  &.download-param-file_buttons__padding {
    padding: layout.$spacing-05 0 0 0;
  }
  
  float: right;
}

.download-param-file_button {
  white-space: nowrap;
}

.download-param-file__incomplete-data-banner {
  /* empty style */ 
}
